<template>
<div class="text-white pb-4" style="background-color: #303030">
  <div class="container mx-auto pt-6 md:flex">
    <div class="w-full md:w-1/2 mb-4 md:mb-0">
      <h2 class="flex justify-center text-2xl uppercase font-semibold">Контакты</h2>
      <ul class="p-4">
        <li class="pb-1 flex justify-start text-md">
          <p class="font-bold pr-2">Записаться на ремонт:</p>
          <span>{{phone}}</span>
        </li>
        <li class="pb-1 flex justify-start text-md">
          <p class="font-bold pr-2">Адресс:</p>
          <span>{{address}}</span>
        </li>
        <li class="pb-1 flex justify-start text-md">
          <p class="font-bold pr-2">Режим работы:</p>
          <span>{{jobTime}}</span>
        </li>
        <li class="pb-1 flex justify-start text-md">
          <p class="font-bold pr-2">Что в нас ценят:</p>
          <span>{{plusJob}}</span>
        </li>
      </ul>
      <a href="tel:+79064101234" class="mt-3 inline-block py-2 px-4 bg-orange-600 hover:bg-orange-700 text-white transition ease-in duration-200 font-bold shadow-md focus:outline-none uppercase rounded-lg">
        Просто позвонить сашке (◑‿◐)
      </a>
    </div>
    <div class="w-full md:w-1/2 rounded-2xl overflow-hidden shadow-2xl">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af1636b1a785a7b11f5ff84ac20ce00e8ee70df435673ea6fcaacc5f400006f53&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "appFooter",
  props: ['phone', 'address', 'jobTime', 'plusJob']
}
</script>

<style scoped>

</style>
