<template>
  <div class="bg-1 mt-12">
    <div class="container mx-auto h-full">
      <div class="pt-4 px-10 lg:text-4xl md:text-2xl text-xl text-orange-100 md:uppercase font-bold flex text-center justify-center">
        <h1>{{h1}}</h1>
      </div>
      <div class="md:mt-16 p-4 md:bg-gray-500 md:max-w-sm rounded text-gray-200">
        <ul class="ml-2">
          <li v-for="item in serviceList" :key="item.key" class="text-sm">- {{item}}</li>
        </ul>
        <a href="tel:+79064101234"
           class="inline-block mt-3 p-2 bg-orange-500 hover:bg-orange-400 items-center rounded shadow-2xl text-orange-200 transition duration-300">Записаться</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "appHeader",
  props:['serviceList', 'h1']
}
</script>

<style>
.bg-1 {
  height: 700px;
  background: url("/header.jpg") no-repeat center bottom;
  background-size: cover;
}
@media (max-width: 768px) {
  .bg-1 {
    height: 100%;
    background: #a0afc0;
  }
}
</style>
