<template>
  <div class="fixed top-0 left-0 w-full">
    <nav class="bg-gray-800">
      <div class="w-full mx-auto px-8">
        <div class="flex items-center justify-between h-12">
          <div class="w-full flex items-center justify-center">
            <div class="hidden md:block">
              <div class="flex items-center">
                <a v-for="item in menuItem" :key="item.key" class="text-gray-300 uppercase hover:text-orange-300 px-2 py-2 rounded-md text-sm font-medium" :href="item.to">
                  {{ item.name }}
                </a>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <button @click.prevent="menuToggle=!menuToggle" class="text-white-800 text-white hover:text-gray-500 inline-flex items-center justify-center p-2 rounded-md focus:outline-none">
              <svg v-if="!menuToggle" width="20" height="20" fill="currentColor" class="h-8 w-8" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z">
                </path>
              </svg>
              <svg v-if="menuToggle" width="22" height="22" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 365.696 365.696"><path d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0"/></svg>
            </button>
          </div>
        </div>
      </div>
      <div class="md:hidden">
        <div v-if="menuToggle" class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
          <a v-for="item in menuItem" :key="item.key" class="text-gray-300 hover:text-orange-300 block px-3 py-2 rounded-md text-base font-medium" :href="item.to">
            {{ item.name }}
          </a>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "appNav",
  props: ['menuItem'],
  data() {
    return {
      menuToggle: false
    }
  },
}
</script>

<style scoped>

</style>
