<template>
  <div class="w-full bg-gray-600 text-gray-100">
    <div class="grid md:grid-flow-col grid-cols-1 grid-rows-8 md:grid-cols-3 md:grid-rows-3 lg:grid-cols-4 lg:grid-rows-2 gap-4 py-4">
      <div v-for="item in servicePlus" :key="item.key" class="w-full text-center flex flex-col items-center">
        <img :src="item.img" :alt="item.text" class="w-1/5">
        <p class="max-w-xs py-2">{{ item.text }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "appPlus",
  props: ['servicePlus']
}
</script>

<style scoped>

</style>
