<template>
  <div class="" :style="'height: '+heightBlock+'px; background: '+bgBlock+' url('+image+') no-repeat '+positionImage+';'">
    <div class="container mx-auto" :class="'flex justify-'+positionPrice">
      <div class="py-4 px-2 my-10 w-full max-w-md bg-white inline-block bg-opacity-75 rounded-2xl hover:shadow-xl hover:bg-orange-300 transition duration-500 cursor-pointer">
        <h2 class="flex justify-center uppercase italic font-semibold">{{ title }}</h2>
        <ul class="overflow-y-scroll h-64">
          <li v-for="item in services" :key="item.key" class="px-2 py-1 flex justify-between rounded border-b border-dashed border-black hover:bg-white transition duration-500 ease-in-out">
            <p>{{ item.name }}</p>
            <span>{{ item.price }} руб.</span>
          </li>
        </ul>

        <a href="tel:+79064101234" class="mt-4 inline-block py-2 px-4 bg-orange-600 hover:bg-orange-700 focus:ring-orange-500 focus:ring-offset-orange-200 text-white w-full transition ease-in duration-200 text-center text-base font-bold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 uppercase rounded-lg">
          записаться
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "appService",
  props: ['services', 'title', 'heightBlock', 'bgBlock', 'positionImage', 'image', 'positionPrice']
}
</script>

<style scoped>

</style>
