<template>
  <div>
    <app-nav :menu-item="menu" />
    <app-header :service-list="serviceList" :h1="settings.h1" />
    <app-plus :servicePlus="servicePlus" />
    <app-service
      id="diagnostika"
      :services="diagnost"
      title="Диагностика"
      height-block="450"
      bg-block="#DC3200"
      image="/block-1.jpg"
      position-image="right bottom"
      position-price="start"
    />
    <app-service
      id="hodovaya"
      :services="hodovay"
      title="Ремонт ходовой"
      height-block="450"
      bg-block="#323232"
      image="/block-2.jpg"
      position-image="left bottom"
      position-price="end"
    />
    <app-service
      id="jidkost"
      :services="jidkost"
      title="Замена жидкостей"
      height-block="450"
      bg-block="#00B5C8"
      image="/block-3.jpg"
      position-image="right bottom"
      position-price="start"
    />
    <app-service
      id="dvigatel"
      :services="dvigatel"
      title="Ремонт двигателя"
      height-block="450"
      bg-block="#567A8A"
      image="/block-4.jpg"
      position-image="left bottom"
      position-price="end"
    />
    <app-footer id="contact"
                :phone="settings.phone"
                :address="settings.address"
                :job-time="settings.jobTime"
                :plus-job="settings.plusJob"
    />
  </div>
</template>

<script>
import appNav from '~/components/appNav'
import AppHeader from '@/components/appHeader'
import AppPlus from '@/components/appPlus'
import AppService from '@/components/appService'
import AppFooter from '@/components/appFooter'
import axios from 'axios'
export default {
  head(){
    return {
      title: this.settings.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.settings.description
        }
      ]

    }
  },
  data() {
    return {
      menu: [
        { name: 'Диагностика', to: '#diagnostika' },
        { name: 'Ремонт ходовой', to: '#hodovaya' },
        { name: 'Замена жидкости', to: '#jidkost' },
        { name: 'Ремонт двигателя', to: '#dvigatel' },
        { name: 'Как добраться', to: '#contact' },
        { name: 'Контакты', to: '#contact' }
      ],
      services: [],
      settings: {
        title: '',
        h1: '',
        description: '',
        address: '',
        phone: '',
        jobTime: '',
        plusJob: '',
      },
      serviceList: [
        'тех. обслуживание',
        'компьютерная диагностика',
        'замена грм',
        'ремонт ходовой',
        'ремонт двс',
        'ремонт МКПП и АКПП',
        'ремонт генераторов и стартеров',
        'ремонт пластиковых изделий',
        'проточка тормозных дисков и барабанов',
        'и многое другое'
      ],
      servicePlus: [
        { text: 'Опыт работы более 10 лет в данной сфере', img: 'icons/1.svg' },
        { text: 'Качество и быстрота выполнения работ', img: 'icons/2.svg' },
        { text: 'Адекватные цены на работу', img: 'icons/3.svg' },
        { text: 'Широкий спектр выполняемых работ', img: 'icons/4.svg' },
        { text: 'Гарантия на выполненные работы', img: 'icons/5.svg' },
        { text: 'Контроль выполнения работ', img: 'icons/6.svg' },
        { text: 'Заказ всех запчастей после диагностики', img: 'icons/7.svg' },
        {
          text: 'Просторный тёплый бокс, приятный коллектив, чай',
          img: 'icons/8.svg'
        }
      ]
    }
  },
  computed: {
    diagnost() {
      return this.services.filter(i => i.category == 'diagnost')
    },
    hodovay() {
      return this.services.filter(i => i.category == 'hodovay')
    },
    jidkost() {
      return this.services.filter(i => i.category == 'jidkost')
    },
    dvigatel() {
      return this.services.filter(i => i.category == 'dvigatel')
    }
  },
  methods: {
    async getSetting() {
      const { data } = await axios.get('http://api.progaraj.ru/setting')
      this.settings = data[0]
    },
    async getService() {
      const { data } = await axios.get('http://api.progaraj.ru/service')
      this.services = data
    }
  },
  mounted() {
    this.getSetting()
    this.getService()
  },
  components: {
    AppFooter,
    AppService,
    AppPlus,
    AppHeader,
    appNav
  }
}
</script>

<style lang="css">
* {
  scroll-behavior: smooth;
}
</style>
